<div class="public-profile-container">
    <div class="profile-banner">
        <div class="banner-content">
            <img id="profile-avatar-header" src="/img/default-avatar.png" class="banner-avatar" alt="User Avatar">
            <div class="banner-info">
                <h1 id="profile-username-header">Loading...</h1>
            </div>
        </div>
    </div>

    <div class="profile-posts-section">
        <h3>Recent Posts</h3>
        <hr>
        <div id="user-posts-container"></div>
    </div>
</div>